.url-shortener-container {
    max-width: 600px;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
}

    .url-shortener-container h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
        font-weight: 700;
        font-size: 1.8rem;
    }

.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1.8px solid #ddd;
    font-size: 1rem;
}


#shortenBtn {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

    #shortenBtn:hover {
        background-color: #0056b3;
    }

#result {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #222;
    word-break: break-all;
}